.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container {
  background: #2c2929;
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download {
  transition: all 1s;
  border-radius: 5px;
  padding: 15px;
  font-size: 30px;
  color: #d68f4d;
  font-weight: 700;
  line-height: 1.7;
  display: block;
  margin: 45% auto;
  border: 2px solid #d68f4d;

}

.download:hover {
  transition: all .3s;
  transform: scale(1.05);
  box-shadow: 0px 0px 30px rgb(209, 189, 12);
}