body {
  background-color: aqua;
}


.wrapper {
  min-width: 100%;
  overflow: hidden;
  padding: 20px;
}

.flex-container {
  margin: 0 auto;
  display: flex;
  border: 10px solid #544428;
  background-color: #8b7144;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-height: 300px;
}

.flex-item {
  height: 100px;
  text-align: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
  border: 2px solid #4a4646;
  color: aliceblue;
  font-size: 30px;
  border-radius: 10%;

}


.flex-item:hover {
  transition: all 0.4s;
  box-shadow: 0 0 10px 10px #3e3e3e;
}

.flex-item:active {
  display: none;
}




.item_1 {
  background-color: #cc3838;
}

.item_2 {
  background-color: #e98936;
}

.item_3 {
  background-color: #e2d332;
}

.item_4 {
  background-color: #42de3c;
}

.item_5 {
  background-color: #38b8cc;
}
